# MongoDB
MONGO_URI=mongodb+srv://swastikAdmin:Admin%40123@swastikdata.nmey2l2.mongodb.net/?retryWrites=true&w=majority&appName=Swastikdata
DB_NAME=Swastik_Hospital

# Auth
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Patient portal base URL (used in SMS link to dashboard)
PORTAL_BASE_URL=http://localhost:3000

# Hospital contact number (shown in SMS)
HOSPITAL_CONTACT=+91 7385660739

# SMS Configuration (TextBee)
SMS_ENABLED=true
TEXTBEE_API_KEY=753dae9a-aae1-4927-bcb7-c20c038f6096
TEXTBEE_DEVICE_ID=69ae71b160c621bb9a174ad7

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_OAUTH_REDIRECT_URI=https://swastik.orelse.ai/api/auth/google/callback

